
        @import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

        :root{
            --maxCanvasWidth:800px;
        }

        body{
            
            /* height:200vh; */
            background-color: white;
            margin:0;
            
        }
        .canvas{
            width:100%;
            max-width:var(--maxCanvasWidth);
            /* height:200vh; */
            background-color:white;
            margin: 0 auto;

            /* box-shadow: 0px 0px 10px 5px rgba(83, 83, 83, 0.558); */
            

        }

/* header */
        .header{
            width:100%;
            background-color:white;
            /* background-color:rgb(141, 239, 244); */

            position:sticky;
            top:0;

            display:flex;
            justify-content: space-between;
            align-items:end;
        }
        .header .WorldHeritageSites{
            width:auto;
            /* background-color: firebrick; */
            
            font-size:2rem;
        }
        .header .opt{
            width:auto;
            /* background-color:blue; */

            display:flex;
            align-items:end;
            font-size:1rem;
            
        }
        .header .opt > div{
            width:auto;
            height:auto;
            /* background-color: firebrick; */

            margin:0 0.5rem;
            display: flex;
            align-items: end;
            
        }
        
/* woman */
        
        /* @font-face {
            font-family: myFont;
            font-style: italic;
            src: url('WinkyRough\\WinkyRough-Italic-VariableFont_wght.ttf');
        }  */

        #woman{
            width:100%;
            background-color:aquamarine;
            display:flex;
        }
        #woman .text{
            max-width:60%;
            background-color:rgb(237, 255, 255);

            text-align: center;
            font-family: 'Winky Rough';
            font-weight:50;
            font-style:italic;
            font-size:5rem;
        }

/* band */
        .UNESCOband{
            height:3rem;
            width:100%;
            background-color:cadetblue;
            /* background-image: url(); */
            box-shadow: 0px 0px 6px 3px rgba(54, 54, 54, 0.227) inset;

            color:red;
        }

/* nation */
        #nation{
            width:100%;
        }
        #nation > div{
            height:15%;
            width:100%;
            background-color:rgb(237, 255, 255);

            display:flex;
            justify-content:space-between;
            
            font-size: 3rem;
        }
        #nation .text{
            
            background-color: aqua;
            /* margin: 1rem 0; */
            padding: 0 1rem;
            
            font-size: 6rem;
            display:flex;
        }
        #nation img{

            width:50%;
            justify-self: right;
            /* position:absolute;
            right: */
        }
        #nation .America{
            color:red;
        }
        #nation .Europe{
            background-color:blue;
        }
        #nation .Africa{
            background-color:green;
        }
        #nation .Asia{
            background-color:yellow;
        }

/* definition */
        #definition{
            width:100%;
            background-color: navy;

            display:grid;
            grid:1fr 1fr/ 1fr 1fr;
            /* justify-content:space-evenly; */
        }
        #definition div{
            /* width:100%; */
            /* background-color: navy; */
            /* margin: 1rem 0; */

            color:white;
            text-align:center;
            margin:auto;
            /* font-size:3rem; */
        }
        #definition .question{
            height:100%;
            background-color: rgb(0, 47, 255);
            font-size:3rem;
            line-height: 100%;
        }

    /* footer */
        .footer{
            /* --paddingval: 0;
            width:calc(100% - calc(var(--paddingval)*2)); */
            width:100%;
            max-width:var(--maxCanvasWidth);
            /* padding:1rem 0; */
            background-color:rgb(237, 255, 255);

            /* padding:0 var(--paddingval) ; */
            /* position:sticky;
            bottom:0%;
            right:auto;
            left:auto; */
            
            display:flex;
            justify-content:space-evenly;
            align-items: center;
                      
        }
        .footer img{
            margin:1rem 0;
            width:20%;
        }
        .footer > div{
            height:100%;
            

            
        }
        .footer > div > div{
            margin: 0.5rem 0;
        }
        .footer #ContactUs{
            

        }

        
    /* debig */
    .img{
        background-color: aquamarine;
        color:red;
    }
    